<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome - OldPhoneDeals</title>
  <link rel="stylesheet" href="/css/auth.css" />
</head>
<body>
  <div class="container">
    <button id="backToPrevPage" type="button" onclick="history.back()">←</button>

    <h1>Welcome to <br> OldPhoneDeals</h1>

    <button id="signInButton" type="button">Sign in</button>
    <button id="signUpButton" type="button">Sign up</button>
  </div>

  <script src="/js/auth.js"></script>
</body>
</html>